# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.log
.env
.venv/
venv/
ENV/
.Python
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints
.DS_Store
.idea/
.vscode/
# Build
build/
dist/
# Project
chroma_db/
chroma.sqlite3
data/
